img {
    width: 100vw;
    height: 800px;
    transform: translateX(50%);
    opacity: 0;
    transition: all 0.5s;
}

.fade {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s;
}